/* ホームページのスタイル */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  font-family: sans-serif;
}
.body {
  margin: 0;
  font-family: sans-serif;
  background-color: #dfaeff; /* 背景色 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container_inner {
  background-color: #fff;
  border-radius: 16px;
  width: 400px; /* 画像から推測 */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}

.close_button {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
}

.close_button::before,
.close_button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #888;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.title {
  font-size: 17px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.scanner_container {
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  overflow: hidden; /* Scannerコンポーネントがはみ出さないように */
}

.error_message {
  color: red;
  margin-bottom: 10px;
}

.scan_result_container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
}

.scan_result_text {
  margin-bottom: 5px;
}

.exchange_button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.exchange_button:hover {
  background-color: #0056b3;
}

.exchanging_message {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

.success_message {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

.failure_message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.bottom_bar {
  margin-top: 30px;
  margin: 30 auto;
}

.barcode_button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc; /* 区切りを明確にするためにボーダーを追加 */
  border-radius: 8px;
  padding: 12px 16px;
  cursor: pointer;
  color: #6750A4;
  font-weight: bold;
}

.barcode_button svg {
  margin-right: 8px;
}
